.jumbotron {
    background-color: yellow;
    color black;
    }

 .btn {
     background-color: blue;
     color black;
    }

    footer {
        padding: 10px 10px 0 10px;
        background-color: yellow;
        margin-bottom: 0px;
        margin-top:  10px;
        
 }

 .card-figura {
     flex: 1 200px;
     padding: 2px 0px 2px 0px;
     margin-top: 10px;



     }
     float: ;
  
 }

 .btn-reserva{
     width: 100%;
     border-radius: opx;


     
     
 }

 .footer-address-icon {
     padding-right:  10px;

 }

 .tab-content  {
     padding-top: 10px;
     
 }